html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #F0FFFF;
  font-size:18px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: visible;
}

li {
  list-style-type: none;
}

input,
select {
  padding: 11px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 2.5px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
  width: 200px;
  margin-bottom: 10px
}